$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$font-stack: 100% Helvetica, sans-serif;
$text-color: #222;

body {
    font: $font-stack;
    color: $text-color;
}
h1 {
    color: SlateBlue;
}

