@import "~normalize.css";
@import "~reset-css/_reset.scss";

$font-stack: 100% 'Open Sans', sans-serif;
$text-color: #222;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(./fonts/open-sans-normal-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSansLight'), url(./fonts/open-sans-light-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    width: 100%;
    margin: 0;
    font: $font-stack;
    color: $text-color;
}

section {
  min-height: 100vh;
}

#welcome {
  height: 100vh;
  color: #fdffea;
  background: #43c6ac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-hi {
  text-align: left;
  font-size: 2vw;
  font-family: 'Open Sans Light', sans-serif;
}
.welcome-hi2 {
  text-align: right;
  font-size: 1.4vw;
  font-family: 'Open Sans Light', sans-serif;
}

#welcome-stuff {
  font-size: 4.0vw;
  text-align: center;
}

#welcome-stuff img {
  height: 100px;
}

#about {
  background-color: #F6F6F6;
  text-align: center;
  font-family: 'Open Sans Light', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about h2 {
  font-size: 2vw;
}

#about .center-everything {

}


// Menu stuff
#menu {
  .menu-button {
    height: 40px;
    width: 40px;
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
    background-color: aquamarine;

    &:hover {
      background-color: aquamarine + 20;
    }
  }

  .burger-container {

    .burger {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #43c6ac;
      margin: 5px 10px;
    }

    .burger-bun-top {
      @extend .burger;
      margin-top: 12px;
    }

    .burger-filling {
      @extend .burger;
    }

    .burger-bun-bot {
      @extend .burger;
    }
  }


}
// Menu end